<% if @passenger.errors.any? %>
  <ul>
  <% @passenger.errors.each do |column, message| %>
    <li><%= column.capitalize %> <%= message %></li>
  <% end  %>
  </ul>
<%end  %>

<%= form_with model:@passenger, class:'passenger-form' do |f| %>
  <p>Please provide the following information for a new passenger:</p>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :phone_num %>
  <%= f.text_field :phone_num %>

  <%= f.submit action_name %>

<% end  %>