<section class="container mt-3">
<h2>Passenger Show Page</h2>
<ul>
<li>Name: <%= @passenger.name %></li>
<li>Phone Number: <%= @passenger.phone_num %></li>
<li>Total Charged:<%= @passenger.total_charged%></li>
</ul>


<%= link_to "Add New Trip", new_passenger_trip_path(@passenger.id) %>
<%= link_to "EDIT", edit_passenger_path(@passenger.id) %>
<%= link_to "DELETE", passenger_path(@passenger.id),method: :delete, data:{confirm: "are you sure you want to delete this passenger?"}  %>

<h3>
  <%= @passenger.name %>'s Trips
</h3>
<table class="table">
  <tr>
    <th scope="col">Trip ID</th>
    <th scope="col">Trip Date</th>
    <th scope="col">Passenger Name</th>
    <th scope="col">Driver Name</th>
    <th scope="col">Rating</th>
    <th scope="col">Cost</th>
  </tr>
  <% @passenger.trips.each do |trip|  %>
    <%if trip.driver.nil? || trip.passenger.nil? %>

    <%else  %>
      <tr>
        <td scope="row"> <%= link_to trip.id, trip_path(trip.id) %></td>
        <td> <%= trip.date.strftime("%Y-%m-%d") %></td>
        <td> <%= link_to @passenger.name, passenger_path(@passenger.id) %></td>
        <td> <%= link_to trip.driver.name, driver_path(trip.driver.id) %></td>
        <td> <%= trip.rating %></td>
        <td> $<%= '%.2f' % trip.cost %></td>
      </tr>
    <%end  %>
  <% end  %>

</table>
</section>
