<h3>Please provide the following information to edit the driver in our database:
<% if @driver.errors.any? %>
  <ul>
    <% @driver.errors.each do |column, message| %>
      <li><%= column.capitalize %> <%= message %></li>
    <% end %>  
  </ul>
<% end %>

</h3>
<%= form_with model: @driver do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :vin %>
  <%= f.text_field :vin %>

  <%= f.submit %>
<% end %>