<h2>List of Drivers</h2>
<nav> <%= link_to "Create new driver", new_driver_path %>
</nav>

<table class="table">
  <tr>
    <th scope="col">ID</th>
    <th scope="col">Name</th>
    <th scope="col">VIN #</th>
    <th scope="col">Status</th>
  </tr>
  <% @drivers.each do |driver| %>
    <tr>
      <td scope="row"><%= driver.id %></th>
      <td><%= link_to driver.name, driver_path(driver.id) %></th>
      <td><%= driver.vin %></th>
      <td><%= driver.available ? "Available" : "Unavailable" %></th>
    </tr>
  <% end %>
</table>