<section class="container mt-3">
<h2>Driver's Detail</h2>

<% if @driver.available %>
  <%= link_to "Mark Unavailable", change_availability_path(@driver.id), method: :patch ,class:"btn btn-info m-3 custom"%>
<% else %>
   <%= link_to "Mark Available", change_availability_path(@driver.id), method: :patch ,class:"btn btn-info m-3 custom"%>
<% end %>

<%= link_to "Edit Driver", edit_driver_path,class:"btn btn-info m-3 custom" %>
<%= link_to "Delete Driver", driver_path(@driver.id) ,method: :delete, data: { confirm: "Are you sure you want to delete this driver?"},class:"btn btn-info m-3 custom" %>

<section>
<ul>
  <li>Driver's ID: <%= @driver.id%></li>
  <li>Name: <%= @driver.name%></li>
  <li>VIN: <%= @driver.vin%></li>
  <li>Status: <%= @driver.available ? "Available" : "Unavailable" %></li>
  <li>Average Rating: <%= @driver.average_rating %></li>
  <li>Total Earning: $<%= @driver.total_earning %></li> 
</ul> 
</section>

<h3>
  <%= @driver.name %>'s Trips
</h3>
<table class="table">
  <tr>
    <th scope="col">Trip ID</th>
    <th scope="col">Trip Date</th>
    <th scope="col">Passenger Name</th>
    <th scope="col">Driver Name</th>
    <th scope="col">Rating</th>
    <th scope="col">Cost</th>
  </tr>


    <% @driver.trips.each do |trip|  %>

      <%if trip.driver.nil? || trip.passenger.nil? %>

      <%else  %>
      <tr>
        <td scope="row"> <%= link_to trip.id, trip_path(trip.id) %></td>
        <td> <%= trip.date.strftime("%Y-%m-%d") %></td>
        <td> <%= link_to trip.passenger.name, passenger_path(trip.passenger.id) %></td>
        <td> <%= link_to @driver.name, driver_path(@driver.id) %></td>
        <td> <%= trip.rating %></td>
        <td> $<%= '%.2f' % trip.cost %></td>
      </tr>
    <% end  %>
  <%end  %>
  
</table>
</section>

